*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

.viewport {
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.grid {
  display: grid;
  grid-template-columns: 120px 270px 120px;
  -moz-column-gap: 24px;
       column-gap: 24px;
  justify-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}

.button {
  padding: 16px;
  margin-bottom: 24px;
  color: white;
  cursor: pointer;
  background-color: black;
}
.charm-container {
  position: relative;
  width: 100%;
}
.charm-top {
  position: absolute;
  top: 0;
  left: 5px;
  width: 260px;
  height: 200px;
}
.charm-mid {
  position: absolute;
  top: 180px;
  left: 0px;
  width: 270px;
  height: 450px;
}
.charm-bot {
  position: absolute;
  top: 600px;
  left: 35px;
  width: 200px;
  height: 200px;
}