$charm-w: 270px;
$charm-h: 800px;

:root {
  --stroke-w-min: 0.5px;
  --stroke-w-max: 20px;
  --stroke-w-normal: 0.5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

.viewport {
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.grid {
  display: grid;
  grid-template-rows: $charm-h;
  grid-template-columns: 120px $charm-w 120px;
  column-gap: 24px;
  justify-items: center;
  width: fit-content;
  margin-inline: auto;
}

.button {
  &-wrapper {
    &-left {
    }

    &-right {
    }
  }

  padding: 16px;
  margin-bottom: 24px;
  color: white;
  cursor: pointer;
  user-select: none;
  background-color: black;
}

.charm {
  &-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &-top {
    $w: 260px;
    $h: 200px;
    $x: calc(($charm-w - $w) / 2);
    $y: 0;

    position: absolute;
    top: $y;
    left: $x;
    width: $w;
    height: $h;
  }

  &-mid {
    $w: 270px;
    $h: 450px;
    $x: calc(($charm-w - $w) / 2);
    $y: 150px;

    position: absolute;
    top: $y;
    left: $x;
    width: $w;
    height: $h;
  }

  &-bot {
    $w: 200px;
    $h: 200px;
    $x: calc(($charm-w - $w) / 2);
    $y: 550px;

    position: absolute;
    top: $y;
    left: $x;
    width: $w;
    height: $h;
  }
}

.cls-1 {
  fill: 0;
}

.cls-2 {
  fill: 0;
}

.cls-3 {
  stroke: red;
  stroke-width: calc(
    (var(--stroke-w-max) - var(--stroke-w-min)) * var(--stroke-w-normal) +
      var(--stroke-w-min)
  );
}

.cls-4 {
  fill: 0;
}
